* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0, 5%;
    padding: 0, 5%;
}

.titulo_principal {
    color: #202020;
    font-size: 400%;
    text-align: center;

}

.foto_anillo {
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-left: inherit;
    padding: 0.5%;
    max-width: 15%;
    max-height: 15%;

}

.foto_anillo {
    transform: translate(3%, 3%);
}

.foto_anillo {
    max-width: 15%;
    transition: max-width 3s;
}

.foto_anillo:hover {
    max-width: 20%;
}

.foto_anillospotify {
    margin-top: 8%;
    margin-right: 15%;
    margin-bottom: 1%;
    margin-left: 15%;
    padding: 0%;
    max-width: 35%;
    max-height: 48%;
    display: flex;
    align-items: center;
    justify-self: center;
}



.foto_anillo0 {
    margin-top: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
    padding: 2%;
    max-width: 16%;
    max-height: 0%;
}

.foto_anillo2 {
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 6%;
    margin-left: 3%;
    padding: 1%;
    max-width: 20%;
    max-height: 28%;
}

.parrafo_eslogan {
    color: #202020;
    text-align: center;
    font-size: 200%;

}

ul {
    list-style-type: none;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
    justify-content: space-around;
    flex-wrap: wrap;
}



#italic {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

.header__grid {
    background-color: rgb(249, 253, 251);
}

footer {
    background-color: #e1d3b7;
}

body {
    background-color: #e4e4e4;
}

body {
    background-image: linear-gradient(to right, rgb(247, 245, 245), rgba(214, 211, 211, 0.018));
}


.imgbox {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding: 1%;
    border: 2px;
    border-radius: 50%;
    max-width: 40%;
    max-height: 40%;
}



.parrafo_nosotros {
    color: #000000;
    text-align: left;

}

.contactos_sociales {
    color: #000000;
    text-align: center;
}

.foto_anillo3 {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 400px;
    padding: 6%;
    max-width: 6%;
    max-height: 6%;

}


.grid__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;


}

.fotos__4 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

.fotos__6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.header__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.imgbox {
    display: flex;
    align-items: center;

}

.titulo_principal {
    display: flex;
    flex-direction: column;
}

.flex__navegador {
    display: flex;
    flex-direction: row;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
}

.flex__navegador ul {
    display: flex;
    justify-content: center;
}

.flex__navegador li a {
    display: inline-block;
    color: rgb(94, 13, 13);
    padding: 15px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.6fr 0.1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

.header__grid {
    grid-area: header;
}

.grid__main {
    grid-area: main;
}

.footer__grid {
    grid-area: footer;
}


.grid__main {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-areas:
        "fotos4 fotos4 fotos4"
        "eslogan eslogan eslogan"
        "fotos6 fotos6 fotos6"
    ;

}

.fotos__4 {
    grid-area: fotos4;
}

.parrafo_eslogan {
    grid-area: eslogan;
}

.fotos__6 {
    grid-area: fotos6;

}

.pulseras__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    grid-template-areas:
        "pulseras pulseras pulseras pulseras"
        /* "lista lista lista lista"*/
        "spotify spotify spotify spotify"
        "fotos fotos fotos fotos"
    ;

}

.subtitulo_pulseras {
    grid-area: pulseras;
}

/*
.lista__navegador{
    grid-area: lista;
}
*/
.foto_anillospotify {
    grid-area: spotify;

}

.fotos__nav {
    grid-area: fotos;
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 0fr;
    grid-template-areas:
        "pulseras . spotify spotify"
        "pulseras . spotify spotify"
        "derechos derechos derechos derechos";

}

.parrafo_nosotros {
    grid-area: pulseras;
}


.contactos_sociales {
    grid-area: spotify;

}

.reservados__derechos {
    grid-area: derechos;
}


.subtitulo_pulseras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_anillo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


@media screen and (max-width: 760px) {

    .titulo_principal {
        color: #202020;
        font-size: 400%;
        text-align: center;

    }

    .header__grid {
        background-color: rgb(249, 253, 251);
    }

    .header__grid ul {
        flex-direction: row;
        align-items: flex-end;
    }

    footer {
        background-color: #e1d3b7;
    }

    /*
    .grid__main{
        background-color: rgb(232, 229, 233);
    }
    */
    body {
        background-color: #e4e4e4;
    }

    body {
        background-image: linear-gradient(to right, rgb(247, 245, 245), rgba(214, 211, 211, 0.018));
    }

    .grid__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 4fr;
        grid-template-areas:
            "fotos4 fotos4 fotos4"
            "eslogan eslogan eslogan"
            "fotos6 fotos6 fotos6";

    }

    .fotos__4 .foto_anillo {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .parrafo_eslogan {
        color: #373737;
        text-align: center;

    }

    .fotos__6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .foto_anillo {
        margin-top: 5%;
        margin-right: 0%;
        margin-bottom: 2%;
        margin-left: auto;
        padding: 0%;
        max-width: 31%;
        max-height: 15%;
    }

    .foto_anillo0 {
        margin-top: 1%;
        margin-right: 0%;
        margin-bottom: 2%;
        margin-left: 0%;
        padding: 1%;
        max-width: 45%;
    }
}




@media screen and (max-width: 500px) {


    .header__grid {
        background-color: rgb(162, 160, 159);
    }

    .header__grid ul {
        flex-direction: column;
        align-items: flex-end;
    }


    footer {
        background-color: #898886;
    }

    body {
        background-color: #e4e4e4;
    }

    body {
        background-image: linear-gradient(to right, rgb(247, 245, 245), rgba(214, 211, 211, 0.018));
    }

    .grid__main {
        display: grid;
        grid-template-columns: 1fr 3.3fr 1fr;
        grid-template-rows: 2fr 0fr 4fr;
        grid-template-areas:
            "fotos4 fotos4 fotos4"
            "eslogan eslogan eslogan"
            "fotos6 fotos6 fotos6"
        ;

    }

    .fotos__4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo_principal {
        color: #f8fbfb;
        text-align: center;
        font-size: 200%;

    }

    .parrafo_eslogan {
        color: #2d2e2e;
        text-align: center;

    }

    .fotos__6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .foto_anillo {
        margin-top: 1%;
        margin-right: 0%;
        margin-bottom: 2%;
        margin-left: 0%;
        padding: 1%;
        max-width: 45%;
    }

    .foto_anillo0 {
        margin-top: 1%;
        margin-right: 0%;
        margin-bottom: 2%;
        margin-left: 0%;
        padding: 1%;
        max-width: 45%;
    }


}